.bgImg {
  background-image: url("https://i.imagesup.co/images2/8ee3f377490915ec5f2cc1413f2e42f3a37c53cd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.myFont {
  text-align: center;
  font-family: homeFont;
}
.myFontHomePage {
  font-size: 120px;
}
.myFontHomePage2 {
  font-size: 70px;
}

@font-face {
  font-family: homeFont;
  src: url("../../fonts/AmaticaSC-Bold.ttf");
}
