.UpdteUserContiner{
    border-radius: 30px;
    background-color: rgba(232, 230, 230, 0.822);
}
.Avatar{
    border-radius: 50%;
    width: 120px;
    height:120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.hide{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    opacity: 0;
    z-index: 1;
    position: absolute;
    cursor: pointer;
}
.btn-color-lord{
    background-color: rgb(199, 31, 22);
    color: whitesmoke;
}
.listMenu{
    border-radius: 30px;
    background-color: rgb(161, 155, 155);
}
.pen{
    transform: rotate(35deg);
    cursor: pointer;
}
